@model System.Collections.Generic.IEnumerable<cn.tdr.policeequipment.web.Models.MenuItemModel>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div data-options="region:'west',collapsed:false" class="easyui-layout" style="width:220px">
    <div data-options="region:'north',collapsed:false" class="easyui-layout x-clear-border" style="min-height:120px; background-color:rgb(45, 62, 80);">
        <div style="margin:15px auto auto 20px;">
            <img class="x-cicle" style="width:64px; height:64px;" src="@Url.Content("~/Content/img/male.gif")" alt="{ 用户名称 }" title="{ 用户名称 }" />
            <div>
                <a id="x-user-mg" href="javascript:void(0)" class="easyui-menubutton x-l-user-mg" data-options="menu:'#x-userm'">{ 用户名称 }</a>
                <div id="x-userm" style="width:100px;">
                    <div data-options="iconCls:'icon-more'" onclick="userDetail()">详细信息</div>
                    <div data-options="iconCls:'icon-edit'" onclick="changePwd()">修改密码</div>
                    <div data-options="iconCls:'icon-back'" onclick="onExit()">安全退出</div>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'center'" class="x-clear-border" style="background-color:#293846;">
        <div id="x-menu" class="easyui-accordion x-clear-border">                        
            @foreach (var item in Model)
            {
                if (0 == item.items.Length)
                {
                    <div title="@item.title" onclick="onMenuItemClick('@item.title', '@item.src')" class="x-p-menu" style="border-width:0px;"></div>
                    continue;
                }

                <div title="@item.title" class="x-p-menu" style="border-width:0px;">
                    @foreach (var sitem in item.items)
                    {
                        <div onclick="onMenuItemClick('@sitem.title', '@sitem.src')" class="x-menu-item">@sitem.title</div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div data-options="region:'center'" class="easyui-layout x-clear-border">
    <div data-options="region:'north',collapsed:false" class="x-clear-border x-header-body" style="border-left-width:1px;"></div>
    <div id="x-main-center" data-options="region:'center'" class="easyui-tabs x-clear-border">
        <div title="首页" data-options="selected:true">
            
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var userDetail = function () {
            $.messager.alert('提示', '用户详细信息 !', 'info');
        };

        var changePwd = function () {
            $.messager.alert('提示', '修改密码 !', 'info');
        };

        var onExit = function () {
            $.messager.confirm('安全退出：', '是否安全退出系统平台 ?', function (r) {
                if (r) {
                    top.location.href = '@Url.Action("signout", "admin")';
                }
            });
            return false;
        };

        var onMenuItemClick = function (title, src) {
            var barwidth = 0;
            var bottomMargin = 5;
            var tbs = $("#x-main-center");
            var firstp = tbs.tabs("getTab", 0);
            var width = firstp.width() - barwidth;
            var height = firstp.height() - bottomMargin;

            var f = tbs.tabs("exists", title);
            if (!f) {
                tbs.tabs("add", {
                    title: title,
                    selected: true,
                    closable: true,
                    content: '<iframe src="' + src + '?h='+height+'&w='+width+'" frameBorder="0" style="overflow-x:hidden; width:' + (width) + 'px; height:' + (height) + 'px;" class="x-clear-border" scrolling="auto"></iframe>'
                });
            }
            else {
                tbs.tabs("select", title);
            }
        };
    </script>
}