
@{
    Layout = "~/Views/Shared/_LayoutNoUI.cshtml";
}

@section  styles{
    <link type="text/css" href="@Url.Content("~/Content/map.css")" rel="stylesheet" />
}

<div id="x-map-header">
    <div class="x-login-header-l" style="margin-top:10px; margin-left:35px;">
        <span class="x-login-header-c" />
        @ViewBag.Title<span style="color:gray">|系统登录</span>
    </div>
</div>
<div id="x-map-container">
</div>
<div class="x-map-tool-menu">
    <div id="x-menu-tls" class="x-map-menu-item">
        <span class="x-menu-icon-bg x-menu-icon-pkg"></span>
        <i>工具</i>
        <em class="x-menu-icon-bg"></em>
        <div id="x-menu-tls-items">
            <ul class="x-ul-clear-style">
                <li class="x-ul-clear-style x-menu-tls-item" onclick="toolRectangleClick()">
                    <span class="x-menu-icon-bg x-menu-icon-blank"></span>
                    <b class="x-b-v"></b>
                    <i>警力分布区域选择器</i>
                </li>
                @*<li class="x-ul-clear-style x-menu-tls-item" onclick="toolCircleClick()">
                    <span class="x-menu-icon-bg x-menu-icon-blank"></span>
                    <b class="x-b-v"></b>
                    <i>圆形选择器</i>
                </li>
                <li class="x-ul-clear-style x-menu-tls-item" onclick="toolIrregularClick()">
                    <span class="x-menu-icon-bg x-menu-icon-blank"></span>
                    <b class="x-b-v"></b>
                    <i>不规则选择器</i>
                    <b class="x-b-h"></b>
                </li>*@
                @*<li class="x-ul-clear-style x-menu-tls-item" onclick="toolTraceMoveClick()">
                    <span class="x-menu-icon-bg x-menu-icon-blank"></span>
                    <b class="x-b-v"></b>
                    <i>轨迹查询</i>
                    <b class="x-b-h"></b>
                </li>*@
                <li class="x-ul-clear-style x-menu-tls-item" onclick="toolAttendanceClick()">
                    <span class="x-menu-icon-bg x-menu-icon-blank"></span>
                    <b class="x-b-v"></b>
                    <i>警员出勤</i>
                    <b class="x-b-h"></b>
                </li>
                @*<li class="x-ul-clear-style x-menu-tls-item" onclick="toolMeasureClick()">
                    <span class="x-menu-icon-bg x-menu-icon-blank"></span>
                    <b class="x-b-v"></b>
                    <i>测量距离</i>
                </li>*@
                <li class="x-ul-clear-style x-menu-tls-item" onclick="toolClearMapClick()">
                    <span class="x-menu-icon-bg x-menu-icon-blank"></span>
                    <b class="x-b-v"></b>
                    <i>清空地图</i>
                    <b class="x-b-h"></b>
                </li>
                @*<li class="x-ul-clear-style x-menu-tls-item" onclick="toolAnotherClick()">
                    <span class="x-menu-icon-bg x-menu-icon-tip"></span>
                    <b class="x-b-v"></b>
                    <i>其它工具</i>
                </li>*@
            </ul>
        </div>
    </div>
    <b class="x-b-v"></b>
    <div id="x-menu-msg" class="x-map-menu-item">
        <span class="x-menu-icon-bg x-menu-icon-msg"></span>
        <i>消息</i>
        <span class="x-tls-msg-tip">0</span>
    </div>
</div>

<div id="x-map-content">
    <div id="x-rst-contaner">
        <ul id="x-rst-contaner-body" class="x-ul-clear-style">
            @*<li class="x-ul-clear-style x-rst-item">
                <div class="x-rst-item-header">
                    <span class="x-span-number">8</span>
                    <i>交通警察</i>
                    <em class="x-menu-icon-bg"></em>
                </div>
                <ul class="x-ul-clear-style x-rst-item-body">
                    <li class="x-ul-clear-style x-rst-item-item" onclick="resultItemClick(0,0,1)">
                        <a href="javascript:void(0)">
                            <span>{ 警员姓名 }</span>
                            <em>{ 组织机构名称 }</em>
                        </a>
                    </li>
                </ul>
            </li>*@
            @*<li class="x-ul-clear-style">
                <div style="height:26px;line-height:26px; padding:5px;">
                    <input type="text" id="pattern" name="pattern" style="width:190px; height:24px; line-height:24px; border:1px solid #d0d0d0;" />
                    <button style="width:51px; height:26px; line-height:26px; cursor:pointer; border:1px solid #d0d0d0; position:relative; top:2px;" onclick="queryAttendance()">查询</button>
                </div>
            </li>
            <li class="x-ul-clear-style x-rst-item x-data-att-item">
                <div class="x-rst-item-header" onclick="resultItemHd(this)">
                    <i>警员姓名—3月17日 10:45 (3时45分)</i>
                    <em class="x-menu-icon-bg"></em>
                </div>
                <ul class="x-ul-clear-style x-rst-item-body">
                    <li class="x-ul-clear-style x-rst-item-item" onclick="resultItemClick(0,0)">
                        <a href="javascript:void(0)">
                            <span>{ 基站编号 }</span>
                            <em>2017-03-17 10:45:32</em>
                        </a>
                    </li>
                </ul>
            </li>*@
        </ul>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/mapcallback.js")"></script>
    <script src="~/Scripts/pgis/js/EzMapAPI.js"></script>
    <script src="~/Scripts/pgis/js/EzServerClient.Extend.js"></script>
    <script src="~/Scripts/pgis/js/Map.js"></script>
    <script type="text/javascript">

        var myMapData = null;

        function toolitemHd() {
            var itval = 0;
            var detail = $("#x-menu-tls-items");
            var tltp = $("#x-menu-tls > em");
            var cls = "x-em-active";
            tltp.toggleClass(cls);
            if (tltp.hasClass(cls)) {
                detail.show(itval);
            } else {
                detail.hide(itval);
            }
        }

        function resultItemHd(e) {
            var cls = "x-rst-item-em-active";
            var itval = 0;
            var em = $(e).children("em");
            em.toggleClass(cls);
            var items = $(e).siblings(".x-rst-item-body");
            if (!!em.hasClass(cls)) {
                items.show(itval);
            } else {
                items.hide(itval);
            }
        }

        // 警力分布结果 click 事件回调函数
        function resultItemClick(x, y) {
            move({
                x: x,
                y: y,
                html: '<div style="height:23px;line-height:23px;">target</div>'
            });
        }

        function addMarker(item) {
            locationMarker({
                x: item.site.x,
                y: item.site.y,
                html: '<div style="height:23px;line-height:23px;">target ' + item.site.x + '</div>'
            });
        }

        function renderGroupItem(items, type) {
            var html = '';
            for (var i = 0; i < items.length; i++) {
                var item = items[i];
                html += '\
                <li class="x-ul-clear-style x-rst-item-item" onclick="resultItemClick(' + item.site.x + ',' + item.site.y + ')"> \
                    <a href="javascript:void(0)"> \
                        <span>'+ item.name + '</span> \
                        <em>' + item.orgName + '</em> \
                    </a> \
                </li> ';
                addMarker(item);
            }
            return html;
        }

        // 渲染区间选择结果
        function renderSelectResult(data) {
            var html = "";
            for (var i = 0; i < data.groups.length; i++) {
                var group = data.groups[i];
                html += '\
                <li class="x-ul-clear-style x-rst-item"> \
                    <div class="x-rst-item-header"> \
                        <span class="x-span-number">'+ group.items.length + '</span> \
                        <i>'+ group.name + '</i> \
                        <em class="x-menu-icon-bg"></em> \
                    </div> \
                    <ul class="x-ul-clear-style x-rst-item-body"> \
                        '+ renderGroupItem(group.items, group.type) + '\
                    </ul> \
                </li>';
            }
            $("#x-rst-contaner-body").html(html);

            $(".x-rst-item-header").click(function () {
                resultItemHd(this);
            });

            var contentId = $("#x-map-content")
            if (!!html) {
                contentId.show();
            } else {
                contentId.hide();
            }
        }

        // 各类型区间选择器处理函数
        function toolSelectHd(url, paramerters) {
            $.post(url, paramerters, function (data) {
                debugger;
                if (!!data.data && data.code === 0) {
                    renderSelectResult(data.data);
                }
            });
        }

        // 矩形区间选择 click 事件回调函数
        function toolRectangleClick() {
            var url = "@Url.Action("rectangle", "map")";
            rectangleSelector({
                callback: function (data) {
                    toolSelectHd(url, data);
                }
            });
        }

        // 圆形区间选择 click 事件回调函数
        function toolCircleClick() {
            var url = "@Url.Action("circle", "map")";
            circleSelector({
                callback: function (data) {
                    toolSelectHd(url, data);
                }
            });
        }

        // 不规则区间选择 click 事件回调函数
        function toolIrregularClick() {
            var url = "@Url.Action("irregular", "map")";
            irregularSelector({
                callback: function (data) {
                    toolSelectHd(url, { data: data });
                }
            });
        }

        function toolAttendanceClick() {
            toolClearMapClick();
            var tip = "请输入警员名称，或者警号 ...";
            var html = '<li class="x-ul-clear-style">\
                            <div style= "height:26px;line-height:26px; padding:5px;" >\
                                <input type="text" id="x-pattern" name="x-pattern" value="'+ tip + '" promdata="' + tip +'" \
                                       style="width:190px; height:24px; line-height:24px; border:1px solid #d0d0d0; color:#d0d0d0;" />\
                                <button onclick="queryAttendance()"\
                                        style="width:51px; height:26px; line-height:26px; cursor:pointer; border:1px solid #d0d0d0; position:relative; top:2px;">查询</button>\
                            </div>\
                        </li>';

            $("#x-rst-contaner-body").html(html);
            $('#x-pattern').focus(function () {
                $(this).css('color', '#000000')
                var val = $(this).val();
                if (!!val && val == tip) {
                    $(this).val('');
                }

            }).blur(function () {
                if (!$(this).val()) {
                    $(this).css('color', '#d0d0d0')
                    $(this).val(tip);
                }
            });
            $("#x-map-content").show();
        }

        function parseDate(timestamp) {
            var date = new Date(timestamp / 10000);
            return date;
        }

        function fmtFullDate(timestamp) {
            var date = parseDate(timestamp);
            var s = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
            return s;
        }

        function fmtDate(timestamp) {
            var date = parseDate(timestamp);
            var s = (date.getMonth() + 1) + '月' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes();
            return s;
        }

        function fmtTimeLength(timelength) {

            var text = '(进行中)';
            if (!!timelength && timelength > 0) {
                var tmins = parseInt(timelength / (60 * 1000 * 10000)); // 总分钟数
                var hours = parseInt(tmins / 60); // 总小时数
                var mins = tmins - (hours * 60); // 剩余小时数
                text = '(' + hours + '时' + mins + '分)';
            }
            return text;
        }

        function rendAttendanceGroupItemItem(data) {
            var defaults = {
                name: null, lat: 0.00, lon: 0.00, time: 0
            };
            $.extend(defaults, data);
            var html = '<li class="x-ul-clear-style x-rst-item-item" onclick="resultItemClick(' + defaults.lon + ',' + defaults.lat +')">\
                            <a href= "javascript:void(0)" >\
                                <span>'+ defaults.name + '</span>\
                                <em>'+ fmtFullDate(defaults.time) +'</em>\
                            </a >\
                        </li >';
            return html;
        }

        function rendAttendanceGroupItem(data) {
            var html = '';
            for (var i = 0; i < data.length; i++) {
                html += rendAttendanceGroupItemItem(data[i]);
            }
            return html;
        }

        function rendAttendanceGroup(data) {
            var defaults = {
                name: null, stime: 0, etime: 0, length: 0, items: []
            };
            $.extend(defaults, data);
            var html = '<li class="x-ul-clear-style x-rst-item x-data-att-item">\
                            <div class="x-rst-item-header" onclick= "resultItemHd(this)" >\
                                <i>'+ defaults.name + '—' + fmtDate(defaults.stime) + ' ' + fmtTimeLength(defaults.length) +'</i>\
                                <em class="x-menu-icon-bg"></em>\
                            </div >\
                            <ul class="x-ul-clear-style x-rst-item-body">\
                                '+ rendAttendanceGroupItem(defaults.items) + '\
                            </ul>\
                        </li >';
            $("#x-rst-contaner-body").append(html);

        }

        function queryAttendance() {
            $.get('@Url.Action("Attendance")', {
                pattern: function () {
                    var dpt = $("#x-pattern");
                    var tip = dpt.attr('promdata');
                    var val = dpt.val();
                    if (val == tip) {
                        val = '';
                    }
                    return val;
                }
            }, function (data) {
                $("li.x-data-att-item").remove();
                for (var i = 0; i < data.length; i++) {
                    rendAttendanceGroup(data[i]);
                }
            });
        }

        //轨迹回放功能 click 事件回调函数
        function toolTraceMoveClick() {
            //...
            //模拟数据
            var data = [
                     { x: 120.67668, y: 27.8501, html: "<div style='width:400px;background-color:red;'>sdfsadf</div>" },
                     { x: 120.67674, y: 27.84941, html: "" },
                     { x: 120.67683, y: 27.84875, html: "" },
                     { x: 120.6743, y: 27.84847, html: "" },
                     { x: 120.67408, y: 27.84909, html: "" },
                     { x: 120.67211, y: 27.84888, html: "" },
                     { x: 120.67193, y: 27.84959, html: "" },
                     { x: 120.6694, y: 27.84922, html: "" },
                     { x: 120.6693, y: 27.85032, html: "" },
                     { x: 120.66728, y: 27.84971, html: "" },
                     { x: 120.66736, y: 27.85012, html: "" },
                     { x: 120.66932, y: 27.8507, html: "" },
                     { x: 120.66906, y: 27.8521, html: "" },
                     { x: 120.66878, y: 27.85351, html: "" },
                     { x: 120.67127, y: 27.85418, html: "" },
                     { x: 120.67148, y: 27.85278, html: "" },
                     { x: 120.67382, y: 27.85326, html: "" },
                     { x: 120.67359, y: 27.85467, html: "" },
                     { x: 120.67582, y: 27.85506, html: "" },
                     { x: 120.67646, y: 27.85227, html: "" },
                     { x: 120.67861, y: 27.85278, html: "" },
                     { x: 120.67968, y: 27.85306, html: "" }
            ];

            //一次性绘制完轨迹线段
            traceLine({
                items: data // 移动轨迹个节点位置
            });

            //动态绘制轨迹线段
            //traceMove({
            //    items: data // 移动轨迹个节点位置
            //});

            //添加基站标注
            var markers = [];
            for (var i = 0; i < data.length; i++) {
                (function (j) {
                    var vPoint = new Point(data[j].x, data[j].y);
                    var marker = new Marker(vPoint, pgisMap.MarkerIcon.BaseStation);
                    marker.addListener("click", function () {
                        marker.openInfoWindowHtml(data[j].html);
                    });
                    markers.push(marker);
                })(i);
            }
            pgisMap.AddMarkers(markers);
        }

        //测量距离 click 事件回调函数
        function toolMeasureClick() {
            pgisMap.Measure(function (mapLength) {
                alert(mapLength);
            });
        }

        //清空地图 click 事件回调函数
        function toolClearMapClick() {
            pgisMap.myEzMap.clear();
        }

        // 其它工具 click 事件回调函数
        function toolAnotherClick() {

        }

        var pgisMap;
        $(document).ready(function () {

            $("#x-menu-tls").click(function () {
                toolitemHd();
            });

            //设置地图容器的高度和宽度
            $("#x-map-container").width($(document).width());
            $("#x-map-container").height($(document).height() - 61);
            pgisMap = new PGisMap(document.getElementById("x-map-container"));
        });
    </script>
}