@using cn.tdr.policeequipment.web.Models
@model DataGridPageModel<TableHeaderModel>
@{
    var tableHeight = Model.tableHeight - 10 - 23 - 10 - 20;
}

<div data-options="region:'center'" style="padding:10px;">
    <table id="@Model.gridId" class="easyui-datagrid" height="@tableHeight"
           style="min-height:150px;"
           data-options="url:'@Model.dataAction',method:'get',rownumbers: true,fitColumns: true,singleSelect:true,idField:'@Model.fieldId.field',toolbar:'#x-grid-tbr'@Model.options">
        <thead>
            @Html.Partial(Model.headerPartialPage, Model.headerPartialPageModel)
        </thead>
    </table>
</div>
<div id="x-grid-tbr" style="padding:2px 5px;">
    @Html.Partial(Model.toolbarPartialPage)
</div>

@Html.Partial("_PartialForm", new GridEditFormModel
{
    cancelAction = Model.formModel.cancelAction ?? "xdlg.close()",
    submitAction = Model.formModel.submitAction ?? "formSubmit()",
    formId = Model.formModel.formId,
    formAction = Model.formModel.formAction,
    formPartialPage = Model.formModel.formPartialPage,
    formModel = Model.formModel.formModel ?? Model.headerPartialPageModel
})

<script type="text/javascript">

    var xdlg = (function (id) {
        return {
            open: function () { $(id).dialog('open'); },
            close: function () { $(id).dialog('close'); }
        };
    })("#@Model.formModel.dlgId");

    function grid() {
        return $("#@Model.gridId");
    }

    function form() {
        return $("#@Model.formModel.formId");
    }

    function gridReload() {
        grid().datagrid('reload');
    }

    function onDelHd(opts) {
        var defaults = {
            url:null,
            name: null,
            queryParams:null,
            cb: function (data, opts) {
                if (!data.code && data.code == 0) {
                    gridReload();
                }
            }
        };
        $.extend(defaults, opts);
        $.messager.confirm('删除：', '是否删除: ' + defaults.name + ' ?', function (r) {
            if (!!r) {
                $.post(defaults.url, defaults.queryParams, function (data) {
                    defaults.cb(data, defaults);
                });
            }
        });
    }

    // form submit action
    function formSubmit() {
        form().form('submit',{
            success:function(data){
                xdlg.close();
                var defaults = {code:0, msg:null, data:false};
                var data = eval('(' + data + ')');
                $.extend(defaults, data);
                if (defaults.code == 0 && !!defaults.data) {
                    gridReload();
                }

                if (!!defaults.code) {
                    $.messager.alert('提示',defaults.msg+'\n代码：'+defaults.code);
                }
            }
        });
    }

    function setQueryParams(data) {
        var queryParams = {
            tt: function () { return (new Date()).getTime(); }
        };
        $.extend(queryParams, data);
        grid().datagrid({
            queryParams: queryParams
        });
    }

</script>